<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>预约信息表</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<meta name="author" content="yinqi">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/materialdesignicons.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="aindex"><img src="images/logo-sidebar.png" title="校园通勤车管理"/></a>
      </div>
      <div class="lyear-layout-sidebar-scroll"> 
        
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="aindex"><i class="mdi mdi-home"></i> 后台首页</a> </li>
            
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 用户管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="./getDriverList">司机信息管理</a> </li>
                <li> <a href="./getUserList">学生信息管理</a> </li>
                <li> <a href="./getTeacherList">教师信息管理</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 车辆管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="./getScheduleList">发车时刻表</a> </li>
                <li> <a href="./getVehicleList">显示车辆信息</a> </li>
                <li> <a href="./getTripList">车次信息</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 公告信息管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="./getNoticeList">公告管理</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 预约管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="./getOrderList">查看预约信息</a> </li>
                
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 留言管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="./getCommentList">论坛</a> </li>
              </ul>
            </li>
           
          </ul>
        </nav>
        
        <div class="sidebar-footer">
         <p class="copyright">魏炜@2020届毕业设计</p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 预约信息 </span>
          </div>
          
          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <span><span th:text="${session.user.username}"></span><span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href="admin-edit-pwd"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li class="divider"></li>
                <li> <a href="./logOut"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>
            
          </ul>
          
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>编号</th>
                        <th>预约人姓名</th>
                        <th>预约电话</th>
                       	<th>出发时间</th>
                       	<th>出发日期</th>
			            <th>出发地</th>
			            <th>预约车次</th>
			            <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="subs:${pageInfo.list}">
                        <td th:text="${subs.oId}"></td>
                        <td th:text="${subs.name}"></td>
                        <td th:text="${subs.phone}"></td>
			            <td th:text="${subs.time}"></td>
			            <td th:text="${subs.date}"></td>
			            <td th:if = "${subs.place==1}">赛罕</td>
			            <td th:if = "${subs.place==2}">盛乐</td>
			            <td th:text="${subs.trainNum}"></td>
			            <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" th:href="@{/deleOrder(oId=${subs.oId})}" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               <div class="modal-footer no-margin-top">
                <div class="col-md-6">
                当前第 [[${pageInfo.pageNum}]]页，共 [[${pageInfo.pages}]] 页，一共 [[${pageInfo.total}]] 条记录
                </div>
               <ul class="pagination pull-right no-margin">
			        <li th:if="${pageInfo.hasPreviousPage}">
			            <a th:href="@{/getOrderList?pageNum=1}">首页</a>
			        </li>
			
			        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
			            <a th:href="@{/getOrderList(pageNum=${pageInfo.prePage})}">
			                <i>[上一页]</i>
			            </a>
			        </li>
			        <!--遍历条数-->
		            <li th:each="nav:${pageInfo.navigatepageNums}">
		                <a th:href="@{/getOrderList(pageNum=${nav})}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
		                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
		            </li>
			        <li class="next" th:if="${pageInfo.hasNextPage}">
			            <a th:href="@{/getOrderList(pageNum=${pageInfo.nextPage})}">
			                <i>[下一页]</i>
			            </a>
			        </li>
			
			        <li>
			            <a th:href="@{/getOrderList(pageNum=${pageInfo.pages})}">尾页</a>
			        </li>
			    </ul>
			    </div>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
</body>
</html>