<!DOCTYPE html>
<html class="htmlBg" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言板论坛</title>
<link rel="stylesheet" type="text/css" href="user/css/reset.css" />
<link rel="stylesheet" type="text/css" href="user/css/style.css" />
<link href="css/style.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bodyBg">
	<div id="hd" class="wp clearfix">
		<a href="index" class="hdLogo fl">
			<img src="user/images/logo.png">
		</a>
		
	</div>
	
	<ul id="nav" class="clearfix wp">
		<li><a href="index" class="navItem">首页</a></li>
		<li>
			<a href="./shownotice" class="navItem">新闻公告</a>
		</li>
		<li>
			<a href="./getSchedule" class="navItem">显示时刻表</a>
		</li>
		<li>
			<a href="./getUserTripList" class="navItem">预约</a>
			
		</li>
		<li class="first active">
			<a class="navItem">
			<form th:action="@{./getCommentsList}" id="commentslist" method="post" >
				<input type="text" hidden="hidden" id="getcomment" th:value="${session.users}" class="navItem">
				<input type="submit" value="论坛" id='sgetcomment' class="navItem" style="color:#fff;font-size:16px;"> 	
			</form>
			</a>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="regist">注册</a>
		</li>
		<li th:if="${session.users}!=null">
			<a class="navItem"  th:text=" ${session.users}? '欢迎：'+${session.users.username}:'未登录'"><i></i></a>
			<div class="dropdown">
				<a href="personcenter">个人中心</a>
				<a href="./logout">退出</a>
			</div>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="login">登录</a>
		</li>
		<th:if th:if="${session.users}!=null">
			<li th:if="${session.users.status}==1">
				<a class="navItem">当前登录：学生</a>
			</li>
			<li th:if="${session.users.status}==2">
				<a class="navItem">当前登录：管理员</a>
			</li>
			<li th:if="${session.users.status}==3">
				<a class="navItem">当前登录：教师</a>
			</li>
		</th:if>
	</ul>

	<div id="main" class="wp clearfix">
		<div class="leftMenu fl">
			<dl>
				<dt>
					<span>
						<h4>留言板</h4>
					</span>
				</dt>
			</dl>
		</div>
		<div class="rightCon fr">
			<div class="conTop clearfix">
				<div class="crumbs">
					<a href="index">首页</a>
					<i>-</i>
					<span>留言板</span>
				</div>
			</div>
			<form action="./saveComment" method="post" style="width:80%;">
				<input name="cname" th:value="${session.users.name}" hidden="hidden"/>
				<input name="cdate" th:value="${ctime}" hidden="hidden"/>
			 	<div class="form-group">
	                   <label class="col-xs-12" for="example-text-input"></label>
	                   <div class="col-xs-12">
	                     <input class="form-control" type="text" id="ctitle" name="ctitle" placeholder="留言标题">
	                   </div>
	               </div>
	              	<div class="form-group col-md-12">
	                   <label for="seo_description"></label>
	                   <textarea class="form-control" id="content" name="content" rows="5" th:value="${comment_msg}" placeholder="输入你的留言"></textarea>
	               </div>
	               <input type="submit" class="btn btn-success m-r-5" value="留言">
            </form>
			<div  class="newsList">
				<ul>
				<th:each th:each="comment : ${pageInfo.list}">
                    <li style="border-top: 1px dotted #01AAED">
 						
                        <div style="text-align:left;margin-left:40px;color:#444;font-size:16px">
                            <div style="color:#01AAED" th:text="${comment.cname}"></div>
 							<div th:text="${#dates.format(comment.cdate,'yyyy-MM-dd HH:mm')}"></div>
 							<div th:text="${comment.ctitle}"></div>
                            <div style="margin-left:10px" th:text="${comment.content}"></div>
  							&nbsp;&nbsp;&nbsp;&nbsp;
 							<input th:value="${comment.cid}" hidden="hidden">
                        </div>
                        <div>
                           <div class="comment-parent" style="text-align:left;margin-top:7px;color:#444">
                               <span ></span>
                               &nbsp;&nbsp;&nbsp;&nbsp;
                           </div>
                        </div>
                        <th:each th:each="reply:${replys}">
                            <th:if th:if="${reply.rcid eq comment.cid}">
                                <div style="text-align: left;margin-left:80px;color: #444;font-size:16px">
                                    <div style="color:#0000FF" th:text="${reply.rname}+'回复@'+${comment.cname}">
                                        <span>&nbsp;&nbsp;</span>
                                    </div>
 									<div style="text-align: left;" th:text="${#dates.format(reply.rdate,'yyyy-MM-dd HH:mm')}">
                                        <span>&nbsp;&nbsp;</span>
                                        <hr style="margin-top: 7px;"/>
                                    </div>
                                    <div style="text-align: left;margin-left:10px" th:text="${reply.rcontent}">
 										<span>&nbsp;&nbsp;</span>
 									</div>
 									
                                </div>
                            </th:if>
                        </th:each>
                    </li>
 			</th:each>
		</ul>
				<div class="pageNum">
					<span>共 [[${pageInfo.pages}]] 页</span>
					<span>共 [[${pageInfo.total}]] 条</span>
					<span>每页 [[${pageInfo.pageSize}]] 条</span>
					<th:if th:if="${pageInfo.hasPreviousPage}"><a th:href="@{/getCommentsList?pageNum=1}">首页</a></th:if>
					<th:if th:if="${pageInfo.hasPreviousPage}"><a th:href="@{/getCommentsList(pageNum=${pageInfo.prePage})}" style="font-weight: bold;">上一页</a></th:if>
					<th:each th:each="nav:${pageInfo.navigatepageNums}">
		                <a th:href="@{/getCommentsList(pageNum=${nav})}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
		                <span style="font-weight: bold;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
		            </th:each>
					<th:if th:if="${pageInfo.hasNextPage}"><a th:href="@{/getCommentsList(pageNum=${pageInfo.nextPage})}" style="font-weight: bold;">下一页</a></th:if>
					<th:if th:if="${pageInfo.hasNextPage}"><a th:href="@{/getCommentsList(pageNum=${pageInfo.pages})}">尾页</a></th:if>
				</div>
			</div>
		</div>
	</div>

	<div id="ft">
		<div class="wp">
			<p>魏炜©2020届毕业设计</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="user/js/jquery.min.js" ></script>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script th:inline="javascript">
	$(document).ready(function(){
		$("#sgetcomment").click(function(){
			var loginuser = $("#getcomment").val();
			if(loginuser===''){
				alert("还未登录，前往登录！");
				window.location.href='login';
				return false;
			}
		});
	});
</script>

</html>
