<!DOCTYPE html>
<html class="htmlBg" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link rel="stylesheet" type="text/css" href="user/css/reset.css" />
<link rel="stylesheet" type="text/css" href="user/css/style.css" />
</head>
<body class="bodyBg">
	<!--头部 Start!-->
	<div id="hd" class="wp clearfix">
		<a href="index" class="hdLogo fl">
			<img src="user/images/logo.png">
		</a>
		<!-- <form class="hdSearch fr"  method="post" name="form1" id="from1">
			<button type="submit" onclick="search()"></button>
			<input type="text" id="searchInput"  placeholder="搜索">
		</form> -->
		<form class="hdSearch fr" method="post" name="form1" id="from1" action="getSearchList">
			<button class="btn btn-default dropdown-toggle" type="submit" onclick="search()" id="search-btn"></button>
			<input type="text" id="searchInputTrip" name="index_none_header_sysc" placeholder="输入要搜索的车次">
		</form>
	</div>
	<!--头部 End!-->
	
	<!--导航 Start!-->
	<ul id="nav" class="clearfix wp">
		<li class="first active"><a href="index" class="navItem">首页</a></li>
		<!-- <li>
			<a href="test" class="navItem">中心概况<i></i></a>
		</li> -->
		<li>
			<a href="./shownotice" class="navItem">新闻公告</a>
		</li>
		<li>
			<a href="./getSchedule" class="navItem">显示时刻表</a>
		</li>
		<li>
			<a href="./getUserTripList" class="navItem">预约</a>
			
		</li>
		<li>
			<a href="./getCommentsList" class="navItem">论坛</a>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="regist">注册</a>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="login">登录</a>
		</li>
		
		<li th:if="${session.users}!=null">
			<a class="navItem"  th:text="欢迎： + ${session.users.username}"><i></i></a>
			<div class="dropdown">
				<a href="personcenter">个人中心</a>
				<a href="./logout">退出</a>
			</div>
		</li>
		<th:if th:if="${session.users}!=null">
			<li th:if="${session.users.status}==1">
				<a class="navItem">当前登录：学生</a>
			</li>
			<li th:if="${session.users.status}==2">
				<a class="navItem">当前登录：管理员</a>
			</li>
			<li th:if="${session.users.status}==3">
				<a class="navItem">当前登录：教师</a>
			</li>
		</th:if>
	</ul>
	<!--导航 End!-->

	<!--main Start!-->
	<div id="main" class="wp">
		<div class="container clearfix">
			<!--通知公告-->
			<div class="item col2">
				<div class="itemTit">
					<h3>通知公告</h3>
					<a href="./shownotice" class="itemMore">MORE+</a>
				</div>
				<div class="itemCon notice">
					<ul class="listStyle" th:each="notice,noticeStat:${notice}">
						<th:if th:if="${noticeStat.count} le 7">
						<li class="clearfix">
							<input id="nId" name="nId" th:value="${notice.nId}" hidden="hidden">
							<a th:href="@{/getContent(nId=${notice.nId})}" th:text="${notice.title}"></a>
							<span th:text="${#dates.format(notice.releaseTime, 'MM-dd')}"></span>
						</li>						
						</th:if>
					</ul>
				</div>
			</div>
			<div class="item col2">
				<div class="itemTit">
					<h3>今日车次</h3>
					<a href="./getUserTripList" class="itemMore">MORE+</a>
				</div>
				<div class="itemCon rules">
					<ul class="listStyle" th:each="trip,tripStat:${t}">
						<th:if th:if="${tripStat.count} le 7 and ${nowDate}<=${trip.start_Date}">
						<li class="clearfix">
							<input id="tId" name="tId" th:value="${trip.tId}" hidden="hidden">
							<a th:href="@{/subsTrip(tId=${trip.tId})}" th:text="${trip.ccard}"></a>
							<span th:text="${trip.ctime}"></span>
						</li>
						</th:if>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!--main End!-->

	<!--底部 Start!-->
	<div id="ft">
		<div class="wp">
			<p>Copyright © 2020</p>
		</div>
	</div>
	<!--底部 End!-->
</body>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script th:inline="javascript">
function search() {
	/* var searchlist = $("input[name='index_none_header_sysc']").val();
	if(searchlist == "" || searchlist == null){
		window.alert("请填写要搜索的内容.");
		
	} */
	if (document.form1.index_none_header_sysc.value==null){
		window.alert("请填写要搜索的内容.")
		return false;
	}
}

</script>
<script type="text/javascript">
	$(function(){

		//动态新闻焦点图片
		var focus = $('.focus');
		var focusLi = $('.focus').find('li');
		var fCount = focusLi.length;
		var fNum = 0;
		var timer = null;

		for(var i=0;i<fCount;i++){
			var dot = '<span></span>';
			$('.dots').append(dot);
		}
		function focusMove(){
			focusLi.eq(fNum).fadeIn().siblings().fadeOut();
			$('.dots').find('span').eq(fNum).addClass('active').siblings().removeClass('active');
		}
		focusMove();
		$('.dots').on('click','span',function(){
			fNum = $(this).index();
			focusMove();
		});
		timer = setInterval(function(){
			fNum++;
			fNum%= fCount;
			focusMove();
		},5000);
	});
	
</script>

</html>
