<!DOCTYPE html>
<html class="htmlBg" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<link rel="stylesheet" type="text/css" href="user/css/reset.css" />
<link rel="stylesheet" type="text/css" href="user/css/style.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
</head>
<body class="bodyBg">
	<!--头部 Start!-->
	<div id="hd" class="wp clearfix">
		<a href="index" class="hdLogo fl">
			<img src="user/images/logo.png">
		</a>
	</div>
	<!--头部 End!-->
	
	<!--导航 Start!-->
	<ul id="nav" class="clearfix wp">
		<li><a href="index" class="navItem">首页</a></li>
		<li>
			<a href="./shownotice" class="navItem">新闻公告</a>
		</li>
		<li>
			<a href="./getSchedule" class="navItem">显示时刻表</a>
		</li>
		<li>
			<a href="./getUserTripList" class="navItem">预约</a>
			
		</li>
		<li>
			<a class="navItem">
			<form th:action="@{./getCommentsList}" id="commentslist" method="post" >
				<input type="text" hidden="hidden" id="getcomment" th:value="${session.users}" class="navItem">
				<input type="submit" value="论坛" id='sgetcomment' class="navItem" style="color:#fff;font-size:16px;"> 	
			</form>
			</a>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="regist">注册</a>
		</li>
		<li th:if="${session.users}!=null" class="first active">
			<a class="navItem"  th:text=" ${session.users}? '欢迎：'+${session.users.username}:'未登录'"><i></i></a>
			<div class="dropdown">
				<a href="personcenter">个人中心</a>
				<a href="./logout">退出</a>
			</div>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="login">登录</a>
		</li>
		<th:if th:if="${session.users}!=null">
			<li th:if="${session.users.status}==1">
				<a class="navItem">当前登录：学生</a>
			</li>
			<li th:if="${session.users.status}==2">
				<a class="navItem">当前登录：管理员</a>
			</li>
			<li th:if="${session.users.status}==3">
				<a class="navItem">当前登录：教师</a>
			</li>
		</th:if>
	</ul>
	<!--导航 End!-->

	<!--main Start!-->
	<div id="main" class="wp clearfix">
		<div class="leftMenu fl">
			<dl>
				<dt>
					<span>
						<h4>个人中心</h4>
					</span>
				</dt>
				<dd class="on"><a href="personcenter">个人资料</a></dd>
				<dd><a href="personcenter1">修改个人信息</a></dd>
				<dd><a href="personcenter2">修改密码</a></dd>
				<dd><a href="./getPersonSubsList">我的预约</a></dd>
			</dl>
		</div>
		<div class="rightCon fr">
			<div class="conTop clearfix">
				<div class="crumbs">
					<a href="index">首页</a>
					<i>-</i>
					<span>个人中心</span>
				</div>
				<div class="conTit clearfix">
					<span>个人资料</span>
				</div>
			</div>
			<div class="conMain">
			
			<div class="tab-pane fade active in" id="home">
				<ul class="newsList">
					<li class="clearfix">用户名:<span id="username" th:text="${session.users.username}"></span></li>
					<li class="clearfix">真实姓名:<span id="name" th:text="${session.users.name}"></span></li>
					<li class="clearfix">电子邮件:<span id="email" th:text="${session.users.email}"></span></li>
					<li class="clearfix">电话号码:<span id="phone" th:text="${session.users.phone}"></span></li>
				</ul>
            </div>
			</div>
			<div style="text-align:right;margin-right:40px;font-size:16px" >
				<a th:href="@{/deleteThisUser(id=${session.users.id})}" title="注销本账号">注销本账号</a>
			</div>
			
		</div>
	</div>
	<!--main End!-->

	<!--底部 Start!-->
	<div id="ft">
		<div class="wp">
			<p>魏炜©2020届毕业设计</p>
		</div>
	</div>
	<!--底部 End!-->
</body>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script th:inline="javascript">
	$(document).ready(function(){
		$("#sgetcomment").click(function(){
			var loginuser = $("#getcomment").val();
			//alert("当前登录用户："+loginuser);	
			if(loginuser===''){
				alert("还未登录，前往登录！");
				window.location.href='login';
				return false;
			} else{
				/* alert("进来了？")
				$("#commentslist").submit(); */
			}
		});
	});
</script>
</html>
