<!DOCTYPE html>
<html class="htmlBg" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改个人信息</title>
<link rel="stylesheet" type="text/css" href="user/css/reset.css" />
<link rel="stylesheet" type="text/css" href="user/css/style.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
</head>
<body class="bodyBg">
	<div id="hd" class="wp clearfix">
		<a href="index" class="hdLogo fl">
			<img src="user/images/logo.png">
		</a>
	</div>
	
	<ul id="nav" class="clearfix wp">
		<li><a href="index" class="navItem">首页</a></li>
		<li>
			<a href="./shownotice" class="navItem">新闻公告</a>
		</li>
		<li>
			<a href="./getSchedule" class="navItem">显示时刻表</a>
		</li>
		<li>
			<a href="./getUserTripList" class="navItem">预约</a>
			
		</li>
		<li>
			<a class="navItem">
			<form th:action="@{./getCommentsList}" id="commentslist" method="post" >
				<input type="text" hidden="hidden" id="getcomment" th:value="${session.users}" class="navItem">
				<input type="submit" value="论坛" id='sgetcomment' class="navItem" style="color:#fff;font-size:16px;"> 	
			</form>
			</a>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="regist">注册</a>
		</li>
		<li th:if="${session.users}!=null" class="first active">
			<a class="navItem"  th:text=" ${session.users}? '欢迎：'+${session.users.username}:'未登录'"><i></i></a>
			<div class="dropdown">
				<a href="personcenter">个人中心</a>
				<a href="./logout">退出</a>
			</div>
		</li>
		<li th:if="${session.users}==null">
			<a class="navItem"  href="login">登录</a>
		</li>
		<th:if th:if="${session.users}!=null">
			<li th:if="${session.users.status}==1">
				<a class="navItem">当前登录：学生</a>
			</li>
			<li th:if="${session.users.status}==2">
				<a class="navItem">当前登录：管理员</a>
			</li>
			<li th:if="${session.users.status}==3">
				<a class="navItem">当前登录：教师</a>
			</li>
		</th:if>
	</ul>

	<div id="main" class="wp clearfix">
		<div class="leftMenu fl">
			<dl>
				<dt>
					<span>
						<h4>个人中心</h4>
					</span>
				</dt>
				<dd><a href="personcenter">个人资料</a></dd>
				<dd class="on"><a href="personcenter1">修改个人信息</a></dd>
				<dd><a href="personcenter2">修改密码</a></dd>
				<dd><a href="./getPersonSubsList">我的预约</a></dd>
			</dl>
		</div>
		<div class="rightCon fr">
			<div class="conTop clearfix">
				<div class="crumbs">
					<a href="index">首页</a>
					<i>-</i>
					<a href="personcenter">个人中心</a>
					<i>-</i>
					<span>修改个人信息</span>
				</div>
				<div class="conTit clearfix">
					<span>修改个人信息</span>
				</div>
			</div>
			<div class="conMain">
			<div class="tab-pane fade active in" id="home">
				<form th:action="@{/editUser}" method="post" class="row" >
                <input type="hidden" name="id" id="id" th:value="${session.users.id}">
                  <div class="form-group col-md-12">
                    <label for="username">用户名</label>
                    <input type="text" id="username" name="username" th:value="${session.users.username}" class="form-control" >
                  </div>
                  <div class="col-xs-12">
                    <label for="name">真实姓名</label>
                    <input type="text" class="form-control" id="name" name="example-disabled-input" th:value="${session.users.name}" disabled/>
                  </div>
                  <div class="col-xs-12">
                    <label for="num">学工号</label>
                    <input type="text" class="form-control" id="number" name="example-disabled-input" th:value="${session.users.number}" disabled/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="email">电子邮箱</label>
                    <input type="text" class="form-control" id="email" name="email" th:value="${session.users.email}"/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="phone">电话号码</label>
                    <input type="text" class="form-control" id="phone" name="phone" th:value="${session.users.phone}"/>
                  </div>
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
                </div>
				
			</div>
		</div>
	</div>

	<div id="ft">
		<div class="wp">
			<p>魏炜©2020届毕业设计</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script th:inline="javascript">
$(document).ready(function(){
	$("#sgetcomment").click(function(){
		var loginuser = $("#getcomment").val();
		if(loginuser===''){
			alert("还未登录，前往登录！");
			window.location.href='login';
			return false;
		}
	});
});
$("input[name='email']").blur(function(){
	var email = $("#email").val();
	if(email=="" || email==null){
		alert("邮箱不能为空！");
	}else if(!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)){
		alert("邮箱格式不正确，请重新输入！");
		document.getElementById("email").value = '';
	}
});
$("input[name='phone']").blur(function(){
	var phone = $("#phone").val();
	if(phone=="" || phone==null){
		alert("手机号码不能为空！");
	}else if(!phone.match(/^1[3456789]\d{9}$/)) {
		alert("手机号码格式不正确，请重新输入！");
		document.getElementById("phone").value = '';
	}
});
</script>
</html>
