<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>校园通勤车管理系统用户注册</title>
<link href="css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jQuery1.7.js"></script>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
</head>

<body >
<div id="tab">
  <div class="tab_box"> 
    <div>
      <div class="stu_error_box"></div>
      <h1>前往邮箱完成激活</h1>
      <form action="">
      	<label>&nbsp;</label>
      </form>
      <p align="right"><a href="login">已激活？前往登录</a></p>
    </div>
  </div>
</div>
<div class="bottom"><p>魏炜©2020届</p><a href="javascript:;" target="_blank"></a> <span>毕业设计</span></div>
<div class="screenbg">
  <ul>
    <li><a href="javascript:;"><img src="images/0.jpg"></a></li>
  </ul>
</div>
</body>
</html>